.daycard-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 32px;
  color: black;
  background-color: #bdff44;
  border-radius: 3px;
  width: 7%;
  cursor: pointer;
}
